/* styles */


* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  margin: 1.25em 0 .5em 0;
}

h1, h3, .bold {
  color: #068799;
}

p {
  max-width: 600px;
  margin: 0 0 .25em 1em;
  font-size: .9rem;
}

pre {
  max-width: 600px;
  min-width: 500px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #fffdea;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  min-width: 500px;
  border-radius: 3px;
}

input {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: .9rem;
}

button {
  margin: 5px 2px 2px 0;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0970b5;
  border: 1px solid grey;
  box-shadow: 2px 2px #02406d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #1e8cdb;
}

button:active {
  margin: 7px 0 0 2px;
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.sub-section {
  margin-left: .5rem;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: .8rem;
}

.row-label {
  width: 3.5em;
  text-align: right;
  flex-shrink: 0;
}

.row-description {
  flex-grow: 1;
}

.bold {
  margin: .5em 0;
  font-size: 1rem;
  font-weight: bold;
}

.short-code, .output-container, pre {
  background: #eff7f9;
}